<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List on EJS!!!</title>
</head>
<body>
    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
        <h1 style="color: purple;"><%= kindOfDay %> ToDo List 💜</h1>
    <% } else { %>
        <h1 style="color: blue;"><%= kindOfDay %> ToDo List 💙</h1>
    <% } %>
    <p><%= day %></p>
    <form action="/" method="POST">
        <input type="text" name="todo" placeholder="What to do?">
        <button type="submit">Save</button>
    </form>
    <ul>
        <li>Eat Breakfast</li>
        <li>Eat Lunch</li>
        <li>Eat Dinner</li>
        <% for (let i=0; i<newList.length; i++) { %>
            <li><%= newList[i] %></li>
        <% } %>
    </ul>
</body>
</html>