<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List on EJS!!!</title>
</head>
<body>
    <h1>Today is a <%= kindOfDay %></h1>
    <p><%= day %></p>
</body>
</html>